{{ header }}
<div id="account-password" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <form action="{{ action }}" method="post" enctype="multipart/form-data">

          <div class="row g-2">
            <div class="form-floating col-6">
              <input type="password" class="form-control" id="input-password" name="password" placeholder="password"
                     required>
              <label for="input-password">Password (required)</label>
            </div>
            <div class="form-floating col-6">
              <input type="password" class="form-control" id="input-confirm" name="confirm"
                     placeholder="confirm password" required>
              <label for="input-confirm">Confirm Password (required)</label>
            </div>
            <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
          </div>
          <div class="row align-content-between">
            <div class="col-6 col-lg-3 pt-2 d-grid">
              <a href="/index.php?route=account/account" role="button" class="btn previous_button btn-block">Cancel</a>
            </div>
            <div class="col-6 col-lg-9 pt-2 d-grid">
              <button type="submit" value="Update" class="btn btn-primary btn-block">Update</button>
            </div>
          </div>
        </form>
      </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}


<script>
  $(document).ready(function() {
    $("#input-confirm").on('keyup', function() {
      var password = $("#input-password").val();
      var confirmPassword = $("#input-confirm").val();
      if (password != confirmPassword)
        $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
      else
        $("#CheckPasswordMatch").html('Password match <i class="fas fa-check"></i>').css("color", "green");
    });
  });
</script>