{{ header }}
<div id="blog-content" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
        <div id="content" class="col-12">
            <h1>{{ blog_header }}</h1>
          <!-- Cards Start -->  
            <div class="row row-cols-1 row-cols-md-4 g-4">

                <div class="col">
                    <div class="card" style="width: 19rem;">
                     <a href="{{ blog_more }}"> <img src="{{ blog_image }}" class="card-img-top"> </a>
                        <div class="card-body">
                        <h5 class="card-title">{{ blog_title }}</h5>
                        <p class="card-text">{{ blog_desc }}</p>
                        <a href="{{ blog_more }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <img src="{{ blog_image }}" class="card-img-top" href="{{ blog_more }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ blog_title }}</h5>
                        <p class="card-text">{{ blog_desc }}</p>
                        <a href="{{ blog_more }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <img src="{{ blog_image }}" class="card-img-top" href="{{ blog_more }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ blog_title }}</h5>
                        <p class="card-text">{{ blog_desc }}</p>
                        <a href="{{ blog_more }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <img src="{{ blog_image }}" class="card-img-top" href="{{ blog_more }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ blog_title }}</h5>
                        <p class="card-text">{{ blog_desc }}</p>
                        <a href="{{ blog_more }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <img src="{{ blog_image }}" class="card-img-top" href="{{ blog_more }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ blog_title }}</h5>
                        <p class="card-text">{{ blog_desc }}</p>
                        <a href="{{ blog_more }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <img src="{{ blog_image }}" class="card-img-top" href="{{ blog_more }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ blog_title }}</h5>
                        <p class="card-text">{{ blog_desc }}</p>
                        <a href="{{ blog_more }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <img src="{{ blog_image }}" class="card-img-top" href="{{ blog_more }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ blog_title }}</h5>
                        <p class="card-text">{{ blog_desc }}</p>
                        <a href="{{ blog_more }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <img src="{{ blog_image }}" class="card-img-top" href="{{ blog_more }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ blog_title }}</h5>
                        <p class="card-text">{{ blog_desc }}</p>
                        <a href="{{ blog_more }}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
<!-- Cards End -->

            </div>
        </div>
    </div>
</div> 

   
{{ footer }}