{% if categories %}
<div class="container-fluid d-none d-md-block ps-0 pe-0">
  <nav id="menu" class="navbar pt-0 pb-0 navbar-expand-md" role="navigation">
    <div class="container-fluid navbar-tsg" >
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto">
            <li class="nav-item d-none d-md-block">
                <a class="nav-link active" data-bs-toggle="offcanvas" href="#offcanvasSSAN" role="button" aria-controls="offcanvasSSAN"><i class="fas fa-bars"></i> All</a>
            </li>
        {% for category in categories %}
          {% if category.children %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="{{ category.href }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ category.name }}</a>
                <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink">

                  {% for children in category.children %}
                      <a class="dropdown-item" href="{{ children.href }}">{{ children.name }}</a>
                  {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ category.href }}"><strong>All {{ category.name }}</strong></a>
                </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ category.href }}">{{ category.name }}</a>
            </li>
            <li><a href=""></a></li>
          {% endif %}
        {% endfor %}
        </ul>

          <ul class="navbar-nav flex-row float-end flex-nowrap g-0 d-none d-lg-flex">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ symbol_search_url }}">
                      <i class="fa-regular fa-magnifying-glass"><span class="header_text ps-2">{{ symbol_search_text }}</span></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="tel:{{ telephone }}">
                      <i class="fa-regular fa-phone"><span class="header_text ps-2">{{ telephone }}</span></i>
                  </a>
              </li>
          </ul>

      </div>
    </div>
  </nav>
</div>
{% endif %}

{{ offcanvas_menu }}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCart">
{{ offcanvas_cart }}
</div>

<script>
    //we will use ajax to remove from the cart, but dom to make it look like it's gone
    //105


</script>
