   <div class="offcanvas-header ">
       <div class="d-grid gap-2 d-flex">
           <a role="button" href="index.php?route=checkout/cart" class="btn btn-outline-danger" type="button"><i class="fa-regular fa-shopping-cart"></i> View Cart</a>
           <a role="button" href="index.php?route=checkout/checkout"  class="btn btn-outline-success">checkout <i class="fa-regular fa-credit-card"></i></a>
       </div>
    </div>
    <div class="offcanvas-body">
        <div id="offcanvas_totals" class="text-end">
            {{ cart_totals }}
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody >
                {% for product in products %}
                    <tr id="row_cartid_{{ product.cart_id }}">
                        <td class="text-center text-nowrap"><strong>{{ product.model }}</strong>{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="mx-auto d-block pt-2" /></a> {% endif %}</td>
                        <td class="text-start"><a href="{{ product.href }}">{{ (product.name |length > 30) ? product.name|slice(0, 30) ~ '...' : product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                            <br><span class="product-variants">{{ product.size_name }}<br>{{ product.material_name }}</span>
                            {% if product.tsg_options %}
                                {% for tsg_option in product.tsg_options %}
                                    {% if tsg_option.show_at_checkout == 1 %} <br />
                                        <span class="product-variants">{{ tsg_option.label }}: {{ tsg_option.value }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if product.option %}
                                {% for option in product.option %} <br />
                                    <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                            {% endif %}
                            {% if product.reward %} <br />
                                <small>{{ product.reward }}</small> {% endif %}
                            {% if product.recurring %} <br />
                                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>


                        <td class="text-end col-2 text-nowrap">
                            {{ product.quantity }} @ {{ product.pre_tax }}
                            <br>
                            <strong>{{ product.total }}</strong>
                        </td>
                        <td class="text-end col-1"><button type="button" class="btn btn-outline-danger btn btnRemove" data-cartid="{{ product.cart_id }}"><i class="fa-regular fa-trash fa-lg"></i></button></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>





