{{ header }}
<div id="account-return" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}"> {{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row"> {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}"> {{ content_top }}
      <h1>{{ heading_title }}</h1>
      <p>{{ text_description }}</p>
      
<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
<form class="row g-3 needs-validation" novalidate>
<div class="mb-3">
  <label for="input-name" class="form-label">{{ entry_name }}</label>
  <input type="text" class="form-control" id="input-name" required>
  <div class="invalid-feedback">
      Please enter your name.
    </div>
</div>
<div class="mb-3">
  <label for="input-email" class="form-label">{{ entry_email }}</label>
  <input type="email" class="form-control" id="input-email" placeholder="name@example.com" required>
  <div class="invalid-feedback">
      Please enter a valid email address.
    </div>
</div>
<div class="mb-3">
  <label for="input-telephone" class="form-label">{{ entry_telephone }}</label>
  <input type="text" class="form-control" id="input-telephone" placeholder="" required>
  <div class="invalid-feedback">
      Please enter a valid phone number.
    </div>
</div>
<div class="mb-3">
  <label for="input-order-id" class="form-label">{{ entry_order_id }}</label>
  <input type="text" class="form-control" id="input-order-id" placeholder="" required>
  <div class="invalid-feedback">
      Please enter your order ID.
    </div>
</div>
<div class="mb-3">
  <label for="input-product" class="form-label">{{ entry_product }}</label>
  <input type="text" class="form-control" id="input-product" placeholder="" required>
  <div class="invalid-feedback">
      Please input your product.
    </div>
</div>
<div class="mb-3">
  <label for="input-model" class="form-label">{{ entry_model }}</label>
  <input type="text" class="form-control" id="input-model" placeholder="" required>
  <div class="invalid-feedback">
      Please input your product.
    </div>
</div>
<div class="mb-3">
  <label for="input-quantity" class="form-label">{{ entry_quantity }}</label>
  <input type="text" class="form-control" id="input-quantity" placeholder="" required>
  <div class="invalid-feedback">
      Please input your product.
    </div>
</div>
<div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_reason }}</label>
            <div class="col-sm-10"> {% for return_reason in return_reasons %}
              {% if return_reason.return_reason_id == return_reason_id %}
              <div class="radio">
                <label>
                  <input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" checked="checked" />
                  {{ return_reason.name }}</label>
              </div>
              {% else %}
              <div class="radio">
                <label>
                  <input type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" />
                  {{ return_reason.name }}</label>
              </div>
              {% endif %}
              {% endfor %}
              {% if error_reason %}
              <div class="text-danger">{{ error_reason }}</div>
              {% endif %} </div>
          </div>
<div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_opened }}</label>
            <div class="col-sm-10">
              <label class="radio-inline"> {% if opened %}
                <input type="radio" name="opened" value="1" checked="checked" />
                {% else %}
                <input type="radio" name="opened" value="1" />
                {% endif %}
                {{ text_yes }}</label>
              <label class="radio-inline"> {% if not opened %}
                <input type="radio" name="opened" value="0" checked="checked" />
                {% else %}
                <input type="radio" name="opened" value="0" />
                {% endif %}
                {{ text_no }}</label>
            </div>
          </div>
<div class="mb-3">
  <label for="input-comment" class="form-label">{{ entry_fault_detail }}</label>
      <textarea class="form-control" rows="8" id="input-comment" placeholder="" required></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
</div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>

<div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</div>
{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</form>
{{ footer }} 

<script>
(() => {
  'use strict'
  const forms = document.querySelectorAll('.needs-validation')
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }
      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
