<div class="flex-shrink-0 p-3 cat-list">
    <ul class="list-unstyled ps-0">
        {% for category in categories %}
            {% if category.children %}
                <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed " data-bs-toggle="collapse"
                        data-haschild="true"
                        data-bs-target="#collapse-{{ category.category_id }}"
                        aria-expanded="{{ category.category_id == category_store_id ? 'true' : 'false' }}">
                    {{ category.name }}
                </button>
                {% for child in category.children %}
                    <div class="collapse {{ category.category_id == category_store_id ? 'show' }}"
                         id="collapse-{{ category.category_id }}">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{{ child.href }}"
                                   class="link-dark rounded {{ child.category_id == child_id ? 'selected' }}">{{ child.name }}</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
                </li>
            {% else %}
            <li class="mb-1">
                <a class="btn btn-toggle align-items-center rounded" href="{{ category.href }}" role="button"
                   data-haschild="false"
                   aria-expanded="{{ category.category_id == category_store_id ? 'true' : 'false' }}">{{ category.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


