<!DOCTYPE html>
<html lang="en">
<body>
<p><img src="https://cdn.totalsafetygroup.com/stores/branding/email/ssan_registration_header.png" width="100%" style="max-width: 600px; height: auto;" alt="shipping logo"></p>
<p>Hi {{ firstname }},</p>
<p>Thanks for registering and welcome aboard.</p>
<p>You are now able to login to your account in future to review orders, download invoices and much more.</p>
<p>If you need any further information or help, please feel free to contact us.</p>
<p>Email: <a href="mailto:{{store_email}}">{{store_email}}</a></p>
<p>Best regards</p>
<p>The {{store_name}} team.</p>
<p>{{store_email_footer}}</p>
</body>
</html>
