<!DOCTYPE html>
<html lang="en">
<body>
<p><img src="https://cdn.totalsafetygroup.com/stores/branding/email/ssan_password_reset_header.jpg" width="100%" style="max-width: 600px; height: auto;" alt="shipping logo"></p>
<p>Dear {{store_name}} User,</p>
<p>We’ve received your request to reset your password. Please click the link below to complete the reset.</p>
<button
        style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px;
    text-align: center; text-decoration: none; display: inline-block;
    font-size: 16px; margin: 4px 2px; cursor: pointer;
    border-radius: 10px;">
    <a href="{{reset_link}}" style="color: white; text-decoration: none;">Reset My Password</a>
</button>
<p>This link is valid for a single use.</p>
<p>Please ignore this email if you did not initiate this change.
If you need any further information or help, please feel free to contact us.</p>
<p>Email: <a href="mailto:{{store_email}}">{{store_email}}</a></p>
<p>Best regards</p>
<p>The {{store_name}} team.</p>
<p>{{store_email_footer}}</p>
</body>
</html>

