{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
    <div id="cart-alert-dismissible"></div>
  <div class="row">
    <div id="content" class="col-sm-12">{{ content_top }}
      <div class="row">
        <div class="col-12 col-md-5 col-lg-5 text-center align-self-center">
            <h2 class="d-block d-sm-none">{{ heading_title }}</h2>

            <div class="row align-middle">
                {% if images %}
                    <div class="col-2">
                        <div class="row">
                            {% for image in images %}
                                <div class="col-12">
                                    <a href="{{ image.popup }}" title="{{ heading_title }}" data-toggle="lightbox"
                                       data-gallery="product-gallery"> <img class="img-thumbnail"
                                                                            src="{{ image.thumb }}"
                                                                            title="{{ heading_title }}"
                                                                            alt="{{ heading_title }}"/></a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                <div class="col-10">
                    {% else %}
                    <div class="col-12">
                    {% endif %}
                    <a class="thumbnail" href="{{ popup }}" id="main-image-href" title="{{ heading_title }}"
                       data-toggle="lightbox" data-gallery="product-gallery"><img id="main-image" src="{{ thumb }}"
                                                                                  title="{{ heading_title }}"
                                                                                  alt="{{ heading_title }}"
                                                                                  class="img-fluid"/></a>
                </div>
            </div>


        </div>
        <div class="col-12 col-md-7 col-lg-7">
          <h2 class="d-none d-md-block">{{ heading_title }}</h2>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="product-description d-none d-lg-block">
                        {{ (description|length > 500 ? description|slice(0, 500) ~ '… <a href="#" onclick="ShowDetails(); return false;">full description</a>' : description)  }}
                    </p>
                    <p class="product-description d-none d-md-block d-lg-none">
                        {{ (description|length > 250 ? description|slice(0, 250) ~ '… <a href="#" onclick="ShowDetails(); return false;">full description</a>' : description)  }}
                    </p>
                    <p class="product-description d-block d-md-none">
                        {{ (description|length > 100 ? description|slice(0, 100) ~ '… <a href="#" onclick="ShowDetails(); return false;">full description</a>' : description)  }}
                    </p>
                    <dl class="row pull-left">
                        <dt class="col-4 col-sm-6 col-md-5 col-lg-4">Model Code:</dt><dd id="dd-model-code" class="col-8 col-sm-6 col-md-7 col-lg-8">{{ model }}</dd>
                        <dt class="col-4 col-sm-6 col-md-5 col-lg-4">Size:</dt><dd id="dd-model-size" class="col-8 col-sm-6 col-md-7 col-lg-8">200x300mm</dd>
                        <dt class="col-4 col-sm-6 col-md-5 col-lg-4">Material:</dt><dd id="dd-model-material" class="col-8 col-sm-6 col-md-7 col-lg-8">SAV</dd>
                        <dt class="col-4 col-sm-6 col-md-5 col-lg-4">Orientation:</dt><dd id="dd-model-orientation" class="col-8 col-sm-6 col-md-7 col-lg-8"></dd>
                    </dl>
                </div>
                <div id="product-options-holder" class="col-12 col-md-6">
                    <div id="product">
                        {{ variants }}
                        {% if options %}
                            <hr>
                            <h3>{{ text_option }}</h3>
                            {% for option in options %}
                                {% if option.type == 'select' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                        <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                                            <option value="">{{ text_select }}</option>
                                            {% for option_value in option.product_option_value %}
                                                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                    {% if option_value.price %}
                                                        ({{ option_value.price_prefix }}{{ option_value.price }})
                                                    {% endif %} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                {% if option.type == 'radio' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label">{{ option.name }}</label>
                                        <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                                                        {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                                        {{ option_value.name }}
                                                        {% if option_value.price %}
                                                            ({{ option_value.price_prefix }}{{ option_value.price }})
                                                        {% endif %} </label>
                                                </div>
                                            {% endfor %} </div>
                                    </div>
                                {% endif %}
                                {% if option.type == 'checkbox' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label">{{ option.name }}</label>
                                        <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                                                        {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                                        {{ option_value.name }}
                                                        {% if option_value.price %}
                                                            ({{ option_value.price_prefix }}{{ option_value.price }})
                                                        {% endif %} </label>
                                                </div>
                                            {% endfor %} </div>
                                    </div>
                                {% endif %}
                                {% if option.type == 'text' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                        <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
                                    </div>
                                {% endif %}
                                {% if option.type == 'textarea' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                        <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                                    </div>
                                {% endif %}
                                {% if option.type == 'file' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label">{{ option.name }}</label>
                                        <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                                        <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
                                    </div>
                                {% endif %}
                                {% if option.type == 'date' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                        <div class="input-group date">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                                            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
                                    </div>
                                {% endif %}
                                {% if option.type == 'datetime' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                        <div class="input-group datetime">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                                            <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                    </div>
                                {% endif %}
                                {% if option.type == 'time' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                                        <div class="input-group time">
                                            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                                            <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text col-md-3" for="input-quantity">Qty</label>
                            <input type="number" name="qtyDropdown" value="1" min="1" size="2" id="qtyDropdown" class="form-control col-md-1" />
                            <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-success btn-lg btn-block">{{ button_cart }}</button>

                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="product-price">£<span class="product-price" id="product-price"></span>
                                    <span id="tax-type" class="product-tax-price">Incl Tax £</span><span class="product-tax-price" id="product-tax-price"></span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                {% if mib_logo %}
                                    <img src="catalog/view/theme/safetysignsandnotices/image/MiB_Logo_Horizontal_Colour.svg" class="img-fluid">
                                {% endif %}
                            </div>
                        </div>

                        {{ option_bulk_table }}
                        <div class="form-group">
                            <input type="hidden" name="product_id" value="{{ product_id }}" />
                            <input type="hidden" name="prod_variant_id" id="prod_variant_id" value="" />
                        </div>
                    </div>
                </div>
            </div>
           </div>
      </div>
          {% if has_related == 1 %}
          <div class="row ssan-tabs" id="product-extra-tabs">
              <div class="col">
                  <div class="col">
                      <ul class="nav nav-tabs" id="extra-tabs" role="tablist">
                          <li class="nav-item" role="presentation">
                              <a class="nav-link active" id="related-tab" data-bs-toggle="tab" href="#related" role="tab" aria-controls="bulk" aria-selected="true">Related Products</a>
                          </li>
                      </ul>
                      <div class="tab-content" id="related-tabs-content">
                          <div class="tab-pane fade show active" id="related" role="tabpanel" aria-labelledby="related-tab">{{ related }}</div>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
        <div class="row ssan-tabs" id="product-details-tabs">
            <div class="col">
                <ul class="nav nav-tabs" id="product-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="bulk-tab" data-bs-toggle="tab" href="#bulk" role="tab" aria-controls="bulk" aria-selected="true">Bulk Pricing</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " id="details-tab" data-bs-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="specification-tab" data-bs-toggle="tab" href="#variant-specification" role="tab" aria-controls="variant-specification" aria-selected="true">Specification</a>
                     </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="materials-tab" data-bs-toggle="tab" href="#materials" role="tab" aria-controls="materials" aria-selected="true">Materials</a>
                    </li>
                    {% if extra_info %}
                        {% for extras in extra_info %}
                            {% if extras['type'] == 1 %}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="extra_tab_{{ extras['id'] }}" data-bs-toggle="tab" href="#extra_info_{{ extras['id'] }}" role="tab" aria-selected="true">{{ extras['title'] }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
                <div class="tab-content" id="product-tabs-content">
                    <div class="tab-pane fade show active" id="bulk" role="tabpanel" aria-labelledby="bulk-tab">{{ variants_table }}</div>
                    <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">{{ long_description }}</div>
                    <div class="tab-pane fade" id="variant-specification" role="tabpanel" aria-labelledby="specification-tab"></div>
                    <div class="tab-pane fade" id="materials" role="tabpanel" aria-labelledby="materials-tab">
                        <h4>Materials available for this product</h4>
                        {% for material_list in MaterialsDesc %}
                        {{ material_list.material_name }}
                        <table class="table table-sm table-bordered" id="tblmat_{{ material_list.material_id }}">
                            <tr>
                                <td class="col-md-10">
                                <table class="table table-sm ">
                                    <tr><td class="col-md-2">Description:</td><td>{{ material_list.material_desc_full }}</td></tr>
                                    <tr><td class="col-md-2">Thickness:</td><td>{{ material_list.thickness_desc }}</td>
                                    <tr><td>Fixing Options:</td><td>{{ material_list.fixing_desc }}</td>
                                </table>
                                </td>
                                <td class="col-md-2"><img class="rounded mx-auto d-block" src="{{ material_list.image }}" height="100px" ></td>
                            </tr>

                        </table>
                        {% endfor %}
                        <table class="table table-sm table-success">
                            <tr ><td>*indicates your currently selected material</td></tr>
                        </table>
                    </div>
                    {% if extra_info %}
                        {% for extras in extra_info %}
                            {% if extras['type'] == 1 %}
                                <div class="tab-pane fade" id="extra_info_{{ extras['id'] }}" role="tabpanel">
                                    {{ extras['html'] }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
  </div>
</div>


<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select:visible, #product textarea, #product input[type=\'number\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
			    let stralert = '<div class="alert alert-success alert-dismissible fade show" role="alert" id="liveAlert">';
                    stralert += json['success'];
               // stralert += '<button type="button" class="btn btn-success">Checkout</button>';
                stralert += '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                stralert += '</div>';

                var alertPlaceholder = document.getElementById('alert-dismissible')

				//$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('.breadcrumb').after(stralert);
               // $('#cart-alert-dismissible').append(stralert);

			//	$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				//$('html, body').animate({ scrollTop: 0 }, 'slow');

				//$('#cart > ul').load('index.php?route=common/cart/info ul li');
                let cart_menu_html = json['cart_menu']['xs'];
                $('#cart_menu_top').html(cart_menu_html);
                let cart_off_canvas = json['offcanvas_cart'];
                $('#offcanvasCart').html(cart_off_canvas);

				//$('#cart-totals-sm').html(json['total']);
                //$('#cart-totals-md').html("Your Basket ( "+ json['total'] + " )");  //Your Basket ( 3 items - £56.70 )
                //$('#cart-totals-md').alert();
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {

	/*$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
*/

});
    function ShowDetails()
    {
        $('.nav-tabs a[href="#details"]').tab('show')
        return false;
    }
//--></script> 
{{ footer }} 
