
    <div class="table-responsive">
        <h3>Cart contents</h3>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <td class="text-center col-1">{{ column_image }}</td>
                <td class="text-start col-8">{{ column_name }}</td>
                <td class="text-start col-1">Qty</td>
                <td class="text-end col-1 text-nowrap">{{ column_price }}</td>
                <td class="text-end col-1">{{ column_total }}</td>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td class="text-center">{% if product.thumb %}<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="mx-auto d-block img-fluid" /> {% endif %}</td>
                    <td class="text-start">{{ product.name }} {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                        <br><span class="product-variants">Model : <strong>{{ product.model }}</strong></span>
                        <br><span class="product-variants">{{ product.size_name }} ( <strong>{{ product.orientation_name}}*</strong> ) - {{ product.material_name }}</span>
                        {% if product.tsg_options %}
                            {% for tsg_option in product.tsg_options %}
                                {% if tsg_option.show_at_checkout == 1 %} <br />
                                    <span class="product-variants">{{ tsg_option.label }}: {{ tsg_option.value }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if product.option %}
                            {% for option in product.option %} <br />
                                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                        {% endif %}
                        {% if product.tsg_options %}
                            {% for tsg_option in product.tsg_options %}
                                {% if tsg_option.show_at_checkout == 0 %} <br />
                                    <span class="product-variants">{{ tsg_option.class_label }}: <strong>{{ tsg_option.value_label }}</strong></span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if product.reward %} <br />
                            <small>{{ product.reward }}</small> {% endif %}
                        {% if product.recurring %} <br />
                            <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>


                    <td class="text-center text-md-start col-2">{{ product.quantity }}</td>
                    <td class="text-end col-1">{{ product.pre_tax }}</td>
                    <td class="text-end col-1">{{ product.total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-end"><p>* Image shown may not always represent the finished sign</p></div>
    </div>
    <div class="col-12" id="js-cart_totals">
        {{ cart_totals }}
    </div>
