<!-- product image -->
<div class="col-12 col-md-7 col-lg-7 text-center align-self-center">
    <div  id="drawing"></div>
    <div  id="thumbdrawing" ></div>
</div>
<!-- end product image -->
<div class="col-12 col-md-5 col-lg-5" id="product-bespoke-controls">
    <!-- build the accordion -->
    <div class="row">
        <div class="col-12">
            <div class="accordion" id="accordionSingleBespoke">
                <div class="accordion-item ">
                    <h4 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#single-collapse_sizeMaterial" aria-expanded="true" aria-controls="single-collapse_sizeMaterial">
                            Size & Material
                        </button>
                    </h4>
                    <div id="single-collapse_sizeMaterial" class="accordion-collapse collapse show" data-bs-parent="#accordionSingleBespoke">
                        <div class="accordion-body">
                            {{ variants }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#single-collapse_colours" aria-expanded="false" aria-controls="single-collapse_colours">
                            Background Colour and layout
                        </button>
                    </h4>
                    <div id="single-collapse_colours" class="accordion-collapse collapse" data-bs-parent="#accordionSingleBespoke">
                        <div class="accordion-body">
                            {{ colour_layout }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#single-collapse_texts" aria-expanded="false" aria-controls="single-collapse_texts">
                            Text
                        </button>
                    </h4>
                    <div id="single-collapse_texts" class="accordion-collapse collapse" data-bs-parent="#accordionSingleBespoke">
                        <div class="accordion-body">
                            {{ bespoke_text_area }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end accordion -->

    <!-- product price -->
    <div class="row pt-2">
        <div class="col-12 order-1 col-md-6 order-md-0">
            <div class="product-price">£<span class="product-price" id="product-price"></span>
                <span id="tax-type" class="product-tax-price">Incl Tax £</span><span
                                class="product-tax-price" id="product-tax-price"></span>
            </div>
        </div>
        <div class="col-12 order-0 col-md-6 order-md-1">
            <div class="input-group input-group-sm">
                <label class="input-group-text col-md-3" for="qtyDropdown">Qty</label>
                <input type="number" name="qtyDropdown" value="1" min="1" size="2" id="qtyDropdown"
                       class="form-control "/>
                <button type="button" id="button-cart-bespoke" data-loading-text="{{ text_loading }}"
                        class="btn btn-success btn-lg btn-block">{{ button_cart }}</button>
            </div>
        </div>
    </div>
    <!-- end product price -->

    <!-- bulk table -->
    <div class="row">
        {{ option_bulk_table }}
        <div class="form-group">
            <input type="hidden" name="product_id" value="{{ product_id }}"/>
            <input type="hidden" name="prod_variant_id" id="prod_variant_id" value=""/>
            <input type="hidden" name="form_selected_option_values" id="form_selected_option_values" value=""/>
            <input type="hidden" name="is_bespoke" id="is_bespoke" value="1"/>
        </div>
    </div>
    <!-- end bulk table -->
</div>



<script>

    var blankSignColours = {{ colours | json_encode | raw }};
    var blankSignBorders = {{ borders | json_encode | raw }};

    var currentBreakpoint = bootstrapDetectBreakpoint();
    var drawing_width = 750;
    var drawing_height = 750;
    let init_size =  getNewDrawingSize();
    drawing_width = init_size.width;
    drawing_height = init_size.height;


    window.onresize = updateDrawingSizeView

    function getNewDrawingSize(){
        const currentBreakpoint = bootstrapDetectBreakpoint()
        switch (currentBreakpoint.name) {
            case 'xs':
                drawing_width = 500;
                drawing_height = 500;
                break;
            case 'sm':
                drawing_width = 500;
                drawing_height = 500;
                break;
            case 'md':
                drawing_width = 700;
                drawing_height = 700;
                break;
            case 'lg':
                drawing_width = 500;
                drawing_height = 500;
                break;
            case 'xl':
                drawing_width = 500;
                drawing_height = 500;
                break;
            case 'xxl':
                drawing_width = 750;
                drawing_height = 750;
                break;
            default:
                drawing_width = 500;
                drawing_height = 500;
        }
        return {width: drawing_width, height: drawing_height};
    }


    function updateDrawingSizeView() {
        let old_width = drawing_width;
        let old_height = drawing_height;
        let new_sizes = getNewDrawingSize();
        drawing_width = new_sizes.width;
        drawing_height = new_sizes.height;
        if(old_width !== drawing_width || old_height !== drawing_height)
        {
            newSign.resizeDrawingPanel(drawing_width, drawing_height);
        }

    }

    var newSign = new bespokeSign('drawing', {
        signWidth: 200,
        signHeight: 300,
        orientation: 0,
        hasSymbol: 0,

        autoIgnore: { borderSize: false, },
        hasBorder: blankSignColours[0]['border'],

        autoSize: true,

        signBorder: {colour: blankSignColours[0]['border_colour'], borderSize: 0, borderRadius: 10},
        signColour: blankSignColours[0]['colour'],
        signPanel: {colour: blankSignColours[0]['colour'], margin: {top: 10, right: 10, bottom: 10, left: 10} },



        textContainerMargin: {top: 0, right: 0, bottom: 0, left: 0},
        textPanelSpacer: 5,
        textPanels: [
            {
                colour: 'none',
                baseTextColour: blankSignColours[0]['text_colour'],
                panelRadius: 5,
                panelCorner: [0,0,0,0],
                height: 100,
                margin: {top: 5, right: 5, bottom: 5, left: 5},

                textLines: [
                    {
                        text: '{{ initial_text }}',
                        colour: blankSignColours[0]['text_colour'],
                        weight: 'bold',
                        size: 20,
                        anchor: 'middle',
                        id: 0,
                        x: 100,
                        y: 200,
                        xOffset: 0,
                        yOffset: 0,
                        leading: 1.5,
                    },

                ]
            },
        ]


    }, drawing_width,drawing_height);


    $(function () {

      //  $('#posize').val({{ initial_size }});

        {% if has_svg_data == 1 %}
            loadBespokeFromSVG({{ svg_data['svg_json'] | raw }});
        {% else %}
            newSign.buildSign(true)
        {% endif %}

        $('#posize').on('change', function () {
            var sizeIndex = $(this).val();
            reDrawForSizeChange(sizeIndex);
        });
    })


</script>