{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row">
        <div class="col-12 col-md-6">
          <img class="img-svg-border" src="image/stores/branding/order_success.svg">
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 text-center">
              <h1>Thank you for your order</h1>
            </div>
            <hr>
            <div class="col-12 text-center">
              <p class="success_message">Your order number is <span class="success_message_ordernum">{{ order_number }}</span></p>
              <hr class="pt-2 pe-2">
              {% if is_logged %}
              <p class="success_message">You can view this and past orders in the your <a href="{{ account_link }}">account section</a>
                <a href="{{ account_link }}" type="button" class="btn btn-lg btn-outline-success"><i class="fa-regular fa-2x fa-user-check" style="color: green" aria-hidden="true"></i></a></p>
                <hr class="pt-2 pe-2">
              {% endif %}

              <p class="success_message">Your VAT invoice is ready to be viewed.</p>
              <a href="{{ invoice_pdf }}" type="button" class="btn btn-lg previous_button" target="_blank"><i class="fa-solid fa-file-pdf"></i> Download PDF VAT invoice</a>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn previous_button">Home</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}