{{ header }}
<div id="account-login" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="d-none" ><i class="fa fa-exclamation-circle"></i><span id="alert_message"></span></div>

  <div class="alert alert-danger fade" role="alert" id="login_alert">
    <i class="fa fa-exclamation-circle"></i><span class="ps-2" id="alert_message"></span>
  </div>


  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-user-login">
      <h1 class="h3 mb-3 ">Please sign in</h1>
      <div class="form-floating pb-2">
        <input type="email" class="form-control" id="input-email" placeholder="name@example.com" name="email">
        <label for="input-email">Email address</label>
      </div>
      <div class="form-floating">
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="input-password" placeholder="Password" name="password" >
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="showPassword()"><i class="fa fa-eye"></i></button>
        </div>
      </div>
      <div class="checkbox mb-3">
        <p><a href="{{ forgotten }}">Forgot</a> your password?</p>
      </div>
      <button class="w-100 btn btn-lg btn-success mb-2" type="submit" value="{{ button_login }}">Sign in</button>
      <a href="{{ register }}" class="w-100 btn btn-lg btn-warning" type="button">Register</a>
    </form>
  </div>
</div>

</div>

{{ dialog }}

{{ footer }}


<script> 
function showPassword() {
  var x = document.getElementById("input-password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
} 
</script> 