{{ header }}
<div id="account-reset" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <h1 class="pb-2">{{ heading_title }}</h1>
          <form action="{{ action }}" method="post" enctype="multipart/form-data">
            <div class="row g-2">
              <div class="form-floating col-6">
                <input type="password" class="form-control tsg-validate" id="input-password-account"
                       name="password"
                       placeholder="password" required oninput="checkInputPassword(this.value)">
                <label for="input-password">Password (required)</label>
                <div id="password-valid" class="valid-feedback">
                  Looks good!
                </div>
                <div id="password-invalid" class="invalid-feedback">
                  Not strong enough yet...
                </div>
              </div>
              <div class="form-floating col-6">
                <input type="password" class="form-control tsg-validate" id="input-confirm-account"
                       name="confirm"
                       placeholder="confirm password" required oninput="checkPasswordsMatch()">
                <label for="input-confirm">Confirm Password (required)</label>
                <div class="valid-feedback" id="CheckPasswordMatch"></div>
              </div>
              <div id="passwordHelpBlock" class="form-text">
                Your password must be at least 5 characters, contain at least 1 uppercase letter, 1
                lowercase letter, and 1 number. Special characters are allowed.
              </div>
            </div>
            <div class="row pt-2">
              <div class="col-12">
                <button type="submit" value="Update" class="btn btn-success btn-block w-100">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}