{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row justify-content-center">
        <div class="col-3">
          <img class="img-responsive" src="{{ image_path }}stores/branding/reg_success_ssan.png">
        </div>
        <div class="col-3 ">

              <h2>Your account has been created, {{customer_firstname}}</h2>
          {{ text_message }}
        </div>
        </div>
      </div>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}